name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7

  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        helm_version: [ 'v3.19.2', 'v3.18.6', 'v3.17.4' ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Set Helm SDK Version (${{ matrix.helm_version }})
        run: |
          go get helm.sh/helm/v3@${{ matrix.helm_version }}
          go mod tidy

      - name: Build (Helm ${{ matrix.helm_version }})
        run: mkdir -p bin && go build -o bin/irr -v ./cmd/irr

      - name: Test (Helm ${{ matrix.helm_version }})
        run: go test ./... 
